@import url(geral.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&family=DM+Mono:wght@400;500&display=swap');

html { 
    scroll-behavior: smooth; 
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
header.perfil-header {
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    color: #575656;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header.perfil-header img {
    width: 50%;
    margin: auto;
}
div.perfil-perfil {
    width: 50%;
    margin: auto;
}
div.perfil-perfil img {
    border-radius: 50%;
    transition: all 0.3s ease;
}
div.perfil-perfil img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 70px 2px var(--boxShadowVerdeClaro);
    border: 1px solid rgba(94, 255, 0, 0.295);
}
main.perfil-main {
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 100vh;
}
aside.perfil-aside {
    background-color: #202020;
}
aside.perfil-aside h3 {
    text-align: center;
    color: #777474;
}
aside.perfil-aside hr {
    width: 70%;
    border: 0; 
    height: 1px; 
    background-color: #777474;
}
nav.perfil-navegacao {
    display: flex;
    flex-direction: column;
    text-align: center;
}
div.nav-item {
    padding: 15px;
    transition: all 0.3s ease;
    color: #575656;
}
div.nav-item:hover {
    background-color: #302e2e;
    color: white;
    cursor: pointer;
}
section.perfil-conteudo {
    background-color: #0f0f0f;
}
